<form asp-action="AddExpenses">
    <input name="Amount" type="number"  placeholder="Amount"/>
    <input name="CreatedDate" type="date" placeholder="CreatedDate"/>
    <input name="Comment" type="text" placeholder="Comment" />
    <select name="CategoryName" >
        <option value="Food">Food</option>
        <option value="Health" selected>Health</option>
        <option value="Internet">Internet</option>
    </select>
    <input type="submit" value="Submit"/>
</form>